@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");




*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: rgb(219, 219, 219);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}

.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */
nav {
  background: #fff;
  width: 15%;
  padding: 2rem 1rem;
  background: #fff;
  height: 800px;
}

.side_navbar {
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.side_navbar span {
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}

.side_navbar a {
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}

.links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.links a {
  font-size: 13px;
}

.side_navbar a:hover {
  background: rgb(235, 235, 235);
}

.side_navbar .active {
  border-left: 2px solid rgb(100, 100, 100);
}

.sub-menu {
  display: none;
  flex-direction: column;
}

.sub-menu a {
  padding-left: 4rem;
  font-size: 14px;
}





/* -------------------my style ------------------------------------------ */

.logo-image{
  width: 132px;
  height: 44px;
  margin-right: 396px;
}




