/* -------------------------test--------------------- */

body {
    background: url('../../img/bg_menara.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  
}

.dashboard {
    position: relative;
    width: 400px; 
    height: 400px; 
}

.icon-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-radius: 50%;
    padding: 20px;
    width: 134px;
    height: 134px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.icon-wrapper i {
    font-size: 2em;
}

.icon-wrapper span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.icon-wrapper:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.icon1 { top: 0; left: 50%; transform: translate(-50%, -50%); }
.icon2 { top: 50%; left: 100%; transform: translate(-50%, -50%); }
.icon3 { top: 86%;left: 78%;;transform: translate(-50%, -50%); }
.icon4 {top: 102%;left: 43%; transform: translate(-50%, -50%); }
.icon5 { top: 25%; left: 75%; transform: translate(-50%, -50%); }

  /* ---------------------------------------------- */
